@charset "utf-8";
/* CSS Document */

.slide-group {
	width: 570px;
	height: 300px;
	margin: 25px auto;
	position: relative;
}

.slides img {
	position: absolute;
	top: 0;
	bottom: 0;
}

.current {
	z-index: 10;
	display: block;
}

#prev {
	position: absolute;
	z-index: 500;
	left: 0;
	top: 50%;
}

#next {
	position: absolute;
	z-index: 500;
	right: 0;
	top: 50%;
}
